{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset Mail</title>
</head>
<body>
    <div class="logo">
        <img src="{% static 'images/Divvy logo dark'%}" alt="logo"/>
    </div>
    <hr>
    <p>Hi {{ user.get_username }},</p>
    <br>
    <p>To initiate the password reset process for your {{ user.get_email }} Divvy Account, click the link below:</p>

    <a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>

    <p> If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.</p>

    <p>If you didn't request a password reset, please ignore this email.</p>

    <p>Yours Sincerely,</p>
    <p>The Developer</p>
    
</body>
</html>


