{% extends 'blog/index.html' %}

{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}

<body class="authpage">
    <div class="authImage">
        <div class="overlay"></div>
        <img src="{% static 'images/books.jpg' %}" class = "img-fluid" alt="books">
    </div>
    <div class="authform" >
        <h3>Change your Password</h3>
        <br>

        <form  method="post" autocomplete="off" name="form">
            {% csrf_token %}

            {{form.as_p}}

            <br>

            <button type="submit" class="btn btn-primary w-100 p-2">Change Password</button>
        </form>
    </div>
</body>

{% endblock %}

